<!DOCTYPE html>
<html>
 <head>
  <title>500w(相互之间重复数最多4个)</title>
 </head>
 <body style="padding-left: 10px;">
   <% @numbers.each do |number| %>
      <h3><%= number.join(' - ') %></h3>
   <% end %>
 </body>
</html>
