<style media="screen">
    .wrap {
        width: 1200px;
        height: 800px;
        margin: 0 auto;
        padding: 0;
    }

    .live {
        width: 100%;
    }

    .live ul {
        margin: 0;
        padding: 0;
    }

    .live ul li {
        width: 280px;
        height: 197px;
        border: 1px solid #000;
        list-style-type: none;
        float: left;
        margin-right: 24px;
        margin-bottom: 20px;
    }

    .live ul li:nth-child(4n) {
        margin-right: 0;
    }

    .live a img {
        width: 280px;
        height: 157px;
    }

    .mes {
        width: 280px;
        height: 40px;
    }

    .mes div {
        width: 135px;
        height: 40px;
        line-height: 40px;
    }

    .mes div:first-child {
        padding-left: 5px;
        text-align: left;
        float: left;
    }

    .mes div:last-child {
        padding-right: 5px;
        text-align: right;
        float: right;
    }
</style>

<div class="wrap">
    <h1>直播</h1>
    <div class="live">
        <ul>
            <li>
                <a href="#">
                    <img src="" alt="" />
                </a>
                <div class="mes">
                    <div>1</div>
                    <div>2</div>
                </div>
            </li>
        </ul>
    </div>
</div>
