body {
    font-family: "微软雅黑";
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.live {
    width: 100%;
}

.live ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.live ul li {
    width: 280px;
    height: 203px;
    list-style-type: none;
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
    /*background-color: white;*/
}

.live ul li:nth-child(4n) {
    margin-right: 0;
}

.live a img {
    width: 280px;
    height: 157px;
}

.live a {
    height: 155px;
    display: block;
}

.mes {
    width: 280px;
    height: 50px;
}

.mes .title {
    font-size: 14px;
    white-space: nowrap;
    /*word-wrap: normal;*/
    /*word-break: keep-all;*/
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    color: #31311A;
}

.mes div {
    margin-top: -20px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #3D3D3D;
}

.mes .nick {
    width: 141px;
    float: left;
    overflow: hidden;
}

.mes .platform {
    width: 60px;
    float: left;
}

.mes .num {
    float: right;
}

/* 顶部导航栏 */

.head {
    width: 100%;
    margin-bottom: 30px;
}

.head-nav {
    margin: 40px 0;
    padding: 0;
    overflow: hidden;
}

.head-nav li {
    font-size: 20px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    float: left;
}

.head-nav > li:not(.current) > a:hover {
    cursor: pointer;
    color: #ff630e;
}

.head-nav > li > a {
    font-family: monospace;
    color: #444;
    text-decoration: none;
}

.current {
    background: #ff630e;
    border-radius: 3px;
}

.head-nav .current a {
    color: #fff;
}

/* 分页相关 */

.paginate {
    margin-bottom: 65px;
}

.apple_pagination {
    text-align: center;
    padding: 1em;
    cursor: default;
}

.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
    color: #aaaaaa;
}

.apple_pagination .current {
   font-style: normal;
   font-weight: bold;
   background-color: #bebebe;
   display: inline-block;
   width: 1.4em;
   height: 1.4em;
   line-height: 1.5;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
   text-decoration: none;
   color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
   text-decoration: underline;
}
