body {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    background-color: #f6f6f6;
}

.wrap {
    width: 1496px;
    margin: 0 auto;
    padding: 0;
}

.live {
    width: 100%;
}

.live ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.live ul li {
    width: 280px;
    list-style-type: none;
    float: left;
    margin-right: 24px;
    margin-bottom: 20px;
    position: relative;
}

.live ul li:nth-child(5n) {
    margin-right: 0;
}

.plat {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  height: 27px;
  line-height: 27px;
  font-size: 13px;
  padding-left: 28px;
  padding-right: 7px;
  background: #111;
  opacity: 0.85;
  z-index: 1;
}

.plat img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 6px;
  left: 8px;
}

.live a img {
    width: 280px;
    height: 157px;
}

.live a {
    height: 155px;
    display: block;
    position: relative;
}

.overlay {
  width: 100%;
  height: 157px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0;
  transition: all ease-out 250ms;
  -webkit-transition: all ease-out 250ms;
}

.live a:hover .overlay {
  opacity: 0.5;
}

.live a:hover .video-play {
  opacity: 1;
  transform: scale(1);
}

.video-play {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  opacity: 0;
  background: url('/video-play.png') no-repeat;
  transform: scale(2);*/
  transition: all ease-out 250ms;
  -webkit-transition: all ease-out 250ms;
}

.mes {
  background-color: #fff;
  border-bottom: 3px solid #ececec;
  margin-top: 2px;
}

.mes .title {
  width: 210px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 2px;
  color: #31311A;
}

.sub-mes {
  font-size: 13px;
  color: #3D3D3D;
  position: relative;
}

.sub-mes .nick img {
  width: 13px;
  height: 13px;
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
}

.sub-mes .num img {
  width: 16px;
  height: 16px;
  transform: translateY(3px) translateX(-2px);
  -webkit-transform: translateY(3px) translateX(-2px);
  -moz-transform: translateY(3px) translateX(-2px);
  -ms-transform: translateY(3px) translateX(-2px);
}

.sub-mes .num {
  position: absolute;
  right: 0;
  top: -2px;
}

.douyu {
  background-color: #ff630e !important;
}

.xiongmao {
  background-color: #1cd388 !important;
}

.huya {
  background-color: #f49f0f !important;
}

.longzhu {
  background-color: #8bba37 !important;
}

.quanmin {
  background-color: #A2B5CD !important;
}

/* 顶部导航栏 */

.head {
    width: 100%;
    margin-bottom: 30px;
}

.head-nav {
    margin: 16px 0;
    padding: 0;
    overflow: hidden;
}

.head-nav li {
    font-size: 20px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
}

.head-nav > li:not(.current) > a:hover {
    cursor: pointer;
    color: #ff630e;
}

.head-nav > li > a {
    font-family: monospace;
    color: #444;
    text-decoration: none;
}

.current {
    background: #ff630e;
    border-radius: 3px;
}

.head-nav .current a {
    color: #fff;
}

/* 分页相关 */

.paginate {
    margin-bottom: 65px;
}

.apple_pagination {
    text-align: center;
    padding: 1em;
    cursor: default;
}

.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
    color: #aaaaaa;
}

.apple_pagination .current {
   font-style: normal;
   font-weight: bold;
   background-color: #bebebe;
   display: inline-block;
   width: 1.4em;
   height: 1.4em;
   line-height: 1.5;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
   text-decoration: none;
   color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
   text-decoration: underline;
}

@media screen and (max-width: 1495px) {
  .wrap {
      width: 1200px;
  }

  .live ul li:nth-child(5n) {
      margin-right: 24px;
  }

  .live ul li:nth-child(4n) {
      margin-right: 0;
  }
}
